
{
  "openapi": "3.0.1",
  "info": {
    "title": "Decision project",
    "description": "Для работы необходимо пробросить порт по ssh между 178.154.193.147:80",
    "termsOfService": "",
    "contact": {
      "email": "ivan.petrukhin@glowbyteconsulting.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://decision-prod.demo.datasapience.ru/api",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Deploy",
      "description": "API для работы с деплоем"
    },
    {
      "name": "Policy Api",
      "description": "API для взаимодействия с policy"
    },
    {
      "name": "Custom Attribute Dict",
      "description": "API для работы с справочниками кастомных аттрибутов"
    },
    {
      "name": "Schema",
      "description": "API для работы со схемами"
    },
    {
      "name": "Python Environment Api",
      "description": "API для взаимодействия с объектами типа окружение Python"
    },
    {
      "name": "User",
      "description": "API для работы с пользователями"
    },
    {
      "name": "User jar",
      "description": "API для работы с jar-файлами"
    },
    {
      "name": "Offer Storage Api",
      "description": "API для взаимодействия с Offer Storage"
    },
    {
      "name": "Complex Type API",
      "description": "Описание API обработки пользовательского типа и его атрибутов"
    },
    {
      "name": "Diagram helper API",
      "description": "API для методов, помогающих пользователю на этапе отрисовки диаграммы"
    },
    {
      "name": "Test Api"
    },
    {
      "name": "Catalog",
      "description": "API для работы с каталогами"
    },
    {
      "name": "Script Api",
      "description": "API для взаимодействия с объектами типа Groovy Скрипт"
    },
    {
      "name": "Test Api",
      "description": "API модуля тестирования"
    },
    {
      "name": "External service Api",
      "description": "API для взаимодействия с внешними сервисами"
    },
    {
      "name": "Environment Api",
      "description": "API для взаимодействия с сущностями сред развертывания"
    },
    {
      "name": "Rule types",
      "description": "API для работы с типами правил"
    },
    {
      "name": "Rest Source Api",
      "description": "API для взаимодействия с внешними REST сервисами"
    },
    {
      "name": "User Functions",
      "description": "API для работы с пользовательскими функциями"
    },
    {
      "name": "Python Version Api",
      "description": "API для взаимодействия с версиями Python"
    },
    {
      "name": "Object Relation",
      "description": "API для работы со связями объектов"
    },
    {
      "name": "Validate",
      "description": "API для валидации"
    },
    {
      "name": "Locking Api",
      "description": "API для управления состоянием блокировки объектов"
    },
    {
      "name": "Aggregate Api",
      "description": "API для взаимодействия с агрегетами"
    },
    {
      "name": "Node",
      "description": "API для работы с узлами"
    },
    {
      "name": "Offer Api",
      "description": "API для взаимодействия с шаблонами предложений"
    },
    {
      "name": "Diagram",
      "description": "API для работы с диграммами"
    },
    {
      "name": "Communication Api",
      "description": "API для взаимодействия с каналами коммуникации"
    },
    {
      "name": "Script Api",
      "description": "API для взаимодействия с объектами типа Скрипт"
    },
    {
      "name": "Migration",
      "description": "API для экспорта и импорта объектов"
    },
    {
      "name": "Data provider Api",
      "description": "API для взаимодействия с источниками данных"
    },
    {
      "name": "Kafka Api",
      "description": "API для взаимодействия с Kafka"
    },
    {
      "name": "Counter",
      "description": "API для работы со счетчиками"
    },
    {
      "name": "References",
      "description": "API для работы со справочниками"
    },
    {
      "name": "Streaming",
      "description": "API Streaming Platform"
    }
  ],
  "paths": {
    "/user-function/{functionId}": {
      "put": {
        "tags": [
          "User Functions"
        ],
        "description": "Обновление пользовательской функции",
        "operationId": "update",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "description": "UUID функции",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserFunctionUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Пользовательская функция не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление пользовательской функции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/test/{testId}": {
      "get": {
        "tags": [
          "Test Api"
        ],
        "description": "Получение теста по уникальному идентификатору",
        "operationId": "get",
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string",
              "description": "test в формате UUID",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Тест с указанным ID не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Получен тест",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestInfo"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка выгрузки данных",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Test Api"
        ],
        "description": "Обновление существующего тест-кейса",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string",
              "description": "test в формате UUID",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Тест-кейс с указанным UUID не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Внутренняя ошибка при попытке обновить тест-кейс",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка запроса при попытке обновить тест-кейс",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Тест-кейс обновлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                },
                "example": {
                  "timeStamp": "13-08-2021 11:20:13",
                  "uuid": "ab70191a-a82c-4f51-a2a9-6a32230d059a",
                  "httpCode": 200,
                  "module": "test-diagram",
                  "operation": "update"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Test Api"
        ],
        "description": "Удаление теста по уникальному идентификатору",
        "operationId": "remove",
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string",
              "description": "test в формате UUID",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Ошибка в передаваемых данных",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Тест удален",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка при попытке удаления теста",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/services/{versionId}": {
      "get": {
        "tags": [
          "External service Api",
          "external-services"
        ],
        "description": "Получение внешнего сервиса по UUID",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Идентификатор версии сервиса",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Внешний сервис не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное получение внешнего сервиса по id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceFullViewDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "External service Api",
          "external-services"
        ],
        "description": "Обновление внешнего сервиса, переменных и заголовков",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Идентификатор версии сервиса",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalServiceUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Сервис с указанным UUID не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление внешнего сервиса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "External service Api",
          "external-services"
        ],
        "description": "Удаление внешнего сервиса по UUID",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Идентификатор версии сервиса",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное удаление внешнего сервиса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/services/{versionId}/updateUserVersion": {
      "put": {
        "tags": [
          "External service Api",
          "external-services"
        ],
        "description": "Обновление пользовательской версии внешнего сервиса, переменных и заголовков",
        "operationId": "updateUserVersion",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Идентификатор версии сервиса",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalServiceUpdateUserVersionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Сервис с указанным UUID не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление пользовательской версии внешнего сервиса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/scripts/{versionId}/updateUserVersion": {
      "put": {
        "tags": [
          "Script Api"
        ],
        "description": "Обновление пользовательской версии скрипта",
        "operationId": "updateUserVersion_1",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Идентификатор версии скрипта",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScriptUpdateUserVersion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Скрипт с указанным UUID не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Внутренняя ошибка при попытке скрипт",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка запроса при попытке обновить версию скрипта",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Пользовательская версия скрипта обновлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                },
                "example": {
                  "timeStamp": "13-08-2021 11:20:13",
                  "uuid": "ab70191a-a82c-4f51-a2a9-6a32230d059a",
                  "httpCode": 200,
                  "module": "script",
                  "operation": "updateUserVersion"
                }
              }
            }
          }
        }
      }
    },
    "/scripts/python": {
      "put": {
        "tags": [
          "Script Api"
        ],
        "description": "Обновление существующего скрипта",
        "operationId": "update_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PythonUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Скрипт с указанным UUID не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Внутренняя ошибка при попытке скрипт",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Скрипт обновлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptFullView"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка запроса при попытке обновить скрипт",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Script Api"
        ],
        "description": "Сохранение нового скрипта",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PythonCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Ошибка в передаваемых данных",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                },
                "example": {
                  "timeStamp": "13-08-2021 11:22:37",
                  "httpCode": 400,
                  "module": "script",
                  "operation": "validate",
                  "message": "JSON validation e.."
                }
              }
            }
          },
          "201": {
            "description": "Скрипт создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptFullView"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка при попытке сохранения",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/scripts/groovy": {
      "put": {
        "tags": [
          "Script Api"
        ],
        "description": "Обновление существующего скрипта",
        "operationId": "update_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroovyUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Скрипт с указанным UUID не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Внутренняя ошибка при попытке скрипт",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Скрипт обновлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptFullView"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка запроса при попытке обновить скрипт",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Script Api"
        ],
        "description": "Сохранение нового скрипта",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroovyCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Ошибка в передаваемых данных",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                },
                "example": {
                  "timeStamp": "13-08-2021 11:22:37",
                  "httpCode": 400,
                  "module": "script",
                  "operation": "validate",
                  "message": "JSON validation e.."
                }
              }
            }
          },
          "201": {
            "description": "Скрипт создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptFullView"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка при попытке сохранения",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/script/python/environment/{versionId}": {
      "get": {
        "tags": [
          "Python Environment Api"
        ],
        "description": "Получение окружения питона по id",
        "operationId": "get_4",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "UUID окружения питона",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Окружение питона не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное получение окружения питона по id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PythonEnvironmentGetFullViewDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторизации",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Python Environment Api"
        ],
        "description": "Обновление окружения питона по его UUID",
        "operationId": "update_5",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "UUID окружения питона",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PythonEnvironmentUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление окружения питона",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Python Environment Api"
        ],
        "description": "Удаление окружения питона по UUID",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "UUID окружения питона",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное удаление окружения питона",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/ruletype/{ruleTypeId}": {
      "get": {
        "tags": [
          "Rule types",
          "rule-types"
        ],
        "description": "Получение типа правила по уникальному идентификатору",
        "operationId": "getRuleTypeById",
        "parameters": [
          {
            "name": "ruleTypeId",
            "in": "path",
            "description": "Уникальный идентификатор типа правила",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Тип правила не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Ошибка, возникшая при попытке доступа к данным БД",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное получение типа правила по id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleTypeGetFullView"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Rule types",
          "rule-types"
        ],
        "description": "Обновление типа правила",
        "operationId": "updateRuleTypeById",
        "parameters": [
          {
            "name": "ruleTypeId",
            "in": "path",
            "description": "Уникальный идентификатор типа правила",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleTypeUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Тип правила не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Ошибка, возникшая при попытке доступа к данным БД",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление типа правила",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Rule types",
          "rule-types"
        ],
        "description": "Удаление типа правила по уникальному идентификатору",
        "operationId": "deleteRuleTypeById",
        "parameters": [
          {
            "name": "ruleTypeId",
            "in": "path",
            "description": "Уникальный идентификатор типа правила",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Ошибка, возникшая при попытке доступа к данным БД",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное удаление типа правила по id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/rest_sources/{id}": {
      "get": {
        "tags": [
          "Rest Source Api",
          "rest-sources"
        ],
        "description": "Получение REST источника по UUID",
        "operationId": "get_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор REST источника",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. REST источник не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное получение REST источника по id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestSourceFullViewDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Rest Source Api",
          "rest-sources"
        ],
        "description": "Обновление REST источника",
        "operationId": "update_6",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор REST источника",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestSourceUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "REST источник с указанным UUID не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление REST источника",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Rest Source Api",
          "rest-sources"
        ],
        "description": "Удаление REST источника по UUID",
        "operationId": "delete_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор REST источника",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное удаление REST источника",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/offer/{versionId}": {
      "get": {
        "tags": [
          "offer",
          "Offer Api"
        ],
        "description": "Получение шаблона предложения по UUID версии",
        "operationId": "get_6",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Идентификатор версии шаблона предложения",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Версия шаблона предложения с указанным UUID не найдена",
            "content": {
              "application/json": {}
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное получение шаблона предложения по id версии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferFullViewDto"
                }
              }
            }
          },
          "403": {
            "description": "Отсутствуют права на выполнение данного метода",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "В запросе отсутствует или передан некорректный токен авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "offer",
          "Offer Api"
        ],
        "description": "Обновление шаблона предложения и переменных",
        "operationId": "update_7",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Уникальный идентификатор версии шаблона предложения",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Версия шаблона предложения с указанным UUID не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Отсутствуют права на выполнение данного метода",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует или передан некорректный токен авторизации",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Успешное обновление шаблона предложения и переменных",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "offer",
          "Offer Api"
        ],
        "description": "Удаление шаблона предложения и переменных по UUID",
        "operationId": "delete_4",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Уникальный идентификатор версии шаблона предложения",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Версия шаблона предложения с указанным UUID не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное удаление шаблона предложения и переменных",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Отсутствуют права на выполнение данного метода",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует или передан некорректный токен авторизации",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/offer/{versionId}/updateUserVersion": {
      "put": {
        "tags": [
          "offer",
          "Offer Api"
        ],
        "description": "Обновление пользовательской версии шаблона предложения и переменных",
        "operationId": "updateUserVersion_2",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Уникальный идентификатор версии шаблона предложения",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferUpdateUserVersionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Версия шаблона предложения с указанным UUID не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Отсутствуют права на выполнение данного метода",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует или передан некорректный токен авторизации",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Успешное обновление пользовательской версии шаблона предложения и переменных",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/kafka/{kafkaId}": {
      "get": {
        "tags": [
          "kafka",
          "Kafka Api"
        ],
        "description": "Получение брокера сообщений по id",
        "operationId": "get_7",
        "parameters": [
          {
            "name": "kafkaId",
            "in": "path",
            "description": "UUID брокера сообщений",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Брокер сообщений не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное получение брокера сообщений по id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KafkaGetFullViewDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "kafka",
          "Kafka Api"
        ],
        "description": "Обновление брокера сообщений по его UUID",
        "operationId": "update_8",
        "parameters": [
          {
            "name": "kafkaId",
            "in": "path",
            "description": "UUID брокера сообщений",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KafkaUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление брокера сообщений",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "kafka",
          "Kafka Api"
        ],
        "description": "Удаление брокера сообщений по UUID",
        "operationId": "delete_6",
        "parameters": [
          {
            "name": "kafkaId",
            "in": "path",
            "description": "UUID брокера сообщений",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное удаление брокера сообщений",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/environments/{environmentId}": {
      "get": {
        "tags": [
          "environments",
          "Environment Api"
        ],
        "description": "Получение среды развертывания по id",
        "operationId": "get_8",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "UUID среды развертывания",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Среда развертывания не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное получение среды развертывания по id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnvironmentFullViewDto"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "environments",
          "Environment Api"
        ],
        "description": "Обновление полей среды развертывания по его UUID",
        "operationId": "update_9",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "UUID среды развертывания",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Среда развертывания не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Ошибочный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление среды развертвания",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "environments",
          "Environment Api"
        ],
        "description": "Удаление среды развертывания по UUID",
        "operationId": "delete_7",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "UUID среды развертывания",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Среда развертывания не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное удаление среды развертывания",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Ошибочный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/diagrams/{versionId}": {
      "get": {
        "tags": [
          "diagrams",
          "Diagram"
        ],
        "description": "Получение диаграммы по ее UUID. При отсутствии режима будет применен READ mode",
        "operationId": "get_9",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "UUID диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Режим открытия",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "READ",
                "WRITE"
              ]
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "Запрошенный объект отсутствует, либо был удален",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка возникшая при попытке доступа к данным БД",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Возвращает диаграмму по ее уникальному идентификатору в формате UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagramViewDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "diagrams",
          "Diagram"
        ],
        "description": "Обновление полей диаграммы по UUID",
        "operationId": "update_10",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "UUID версии диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiagramUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Ошибка, возникающая при отсутсвии диаграммы с таким UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Ошибка возникшая при попытке доступа к данным БД",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Возвращает структуры ответа с успехом операции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Применяется в случае ошибочной валидации, либо ошибки при попытке обновить объект в БД",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "diagrams",
          "Diagram"
        ],
        "description": "Удаление диаграммы по UUID",
        "operationId": "remove_2",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "UUID версии диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Ошибка, возникающая при отсутсвии диаграммы с таким UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Применяется в случае ошибки при попытке удаления объекта",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка возникшая при попытке доступа к данным БД",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Возвращает структуры ответа с успехом операции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/diagrams/{versionId}/updateUserVersion": {
      "put": {
        "tags": [
          "diagrams",
          "Diagram"
        ],
        "description": "Обновление пользовательской версии диаграммы по UUID",
        "operationId": "updateUserVersion_3",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "UUID версии диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiagramUpdateUserVersion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Ошибка, возникающая при отсутсвии диаграммы с таким UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Ошибка возникшая при попытке доступа к данным БД",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Возвращает структуры ответа с успехом операции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "Применяется в случае ошибочной валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/diagrams/{versionId}/parameters": {
      "get": {
        "tags": [
          "diagrams",
          "Diagram"
        ],
        "description": "Получение переменных диаграммы по ее UUID",
        "operationId": "getParameters",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "UUID диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "Запрошенный объект отсутствует, либо был удален",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Применяется в случае ошибки сохранения, обновления, валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Возвращает переменные диаграммы по ее уникальному идентификатору в формате UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagramParameterDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "parameters",
          "Diagram"
        ],
        "description": "Обновление списка параметров диаграммы по UUID версии. Применяется для обновления списка переменных temp-версии диаграммы.",
        "operationId": "updateParameters",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string",
              "description": "UUID temp-версии диаграммы"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "principal": {
                    "$ref": "#/components/schemas/Jwt"
                  },
                  "body": {
                    "$ref": "#/components/schemas/DiagramParameterDto"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Диаграмма для обновления не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление и добавление параметров диаграммы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/diagrams/{diagramId}/{deployType}/submit": {
      "put": {
        "tags": [
          "diagrams",
          "Diagram"
        ],
        "description": "Отметка диаграммы готовой для деплоя",
        "operationId": "generateJobs",
        "parameters": [
          {
            "name": "diagramId",
            "in": "path",
            "description": "UUID диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          },
          {
            "name": "deployType",
            "in": "path",
            "description": "Тип дальнейшего деплоя",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "REALTIME",
                "MANUAL_BATCH",
                "AUTO_BATCH"
              ]
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Ошибка, возникающая при отсутствии диаграммы с таким UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Ошибка validate/deploy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка возникшая на стороне сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "Диаграмма успешно отмечена для развертывания. Ошибки отсутствуют",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "Ошибка бизнес валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagramValidateResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/diagrams/{diagramId}/rename": {
      "put": {
        "tags": [
          "diagrams",
          "Diagram"
        ],
        "description": "Обновление имени диаграммы по UUID",
        "operationId": "rename",
        "parameters": [
          {
            "name": "diagramId",
            "in": "path",
            "description": "UUID диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiagramRename"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Ошибка, возникающая при отсутсвии диаграммы с таким UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Ошибка возникшая при попытке доступа к данным БД",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Возвращает структуры ответа с успехом операции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Применяется в случае ошибочной валидации diagramName",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/diagrams/nodes/{nodeId}": {
      "get": {
        "tags": [
          "Node",
          "diagrams"
        ],
        "description": "Получение узла диаграммы по UUID",
        "operationId": "getNodeById",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "description": "Уникальный идентификатор узла диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Узел диаграммы не найден",
            "content": {
              "application/json": {}
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Возникла ошибка при получении объекта из базы данных",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Успешное получение узла диаграммы по id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeViewWithVariablesDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Node",
          "diagrams"
        ],
        "description": "Обновление узла диаграммы",
        "operationId": "updateNodeById",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "description": "Уникальный идентификатор узла диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Узел диаграммы не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное обновление узла диаграммы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeValidateStateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Node",
          "diagrams"
        ],
        "description": "Удаление узла диаграммы по UUID",
        "operationId": "deleteNodeById",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "description": "Уникальный идентификатор узла диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное удаление узла диаграммы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/diagrams/nodes/{nodeId}/validate": {
      "put": {
        "tags": [
          "Node",
          "diagrams"
        ],
        "description": "Валидация узла диаграммы",
        "operationId": "validateNodeById",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "description": "Уникальный идентификатор узла диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeValidateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Узел диаграммы не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное валидация узла диаграммы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/diagrams/nodes/{nodeId}/remap": {
      "put": {
        "tags": [
          "Node",
          "diagrams"
        ],
        "description": "Ремапинг свойств узла диаграммы",
        "operationId": "remapNodeById",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "description": "Уникальный идентификатор узла диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeRemapDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Узел диаграммы не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Успешный реманинг свойств узла диаграммы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Properties"
                }
              }
            }
          }
        }
      }
    },
    "/diagrams/nodes/{nodeId}/metainfo": {
      "put": {
        "tags": [
          "Node",
          "diagrams"
        ],
        "description": "Обновление метаинформации узла диаграммы",
        "operationId": "updateNodeMetaInfoByNodeId",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "description": "Уникальный идентификатор узла диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetaInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Узел диаграммы не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "Успешное обновление метаинформации узла диаграммы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/diagrams/nodes/{nodeId}/byNode": {
      "put": {
        "tags": [
          "Node",
          "diagrams"
        ],
        "description": "Обновление узла диаграммы",
        "operationId": "updateNodeByIdWithDiagramChange",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "description": "Уникальный идентификатор узла диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Узел диаграммы не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Успешное обновление узла диаграммы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeUpdateLeadToDiagramChangeResultDto"
                }
              }
            }
          }
        }
      }
    },
    "/diagrams/nodes/{nodeId}/autoMap": {
      "put": {
        "tags": [
          "Node",
          "diagrams"
        ],
        "description": "Обновление узла диаграммы",
        "operationId": "autoMapNodeById",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "description": "Уникальный идентификатор узла диаграммы",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeAutoMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Запрос успешно обработан. Узел диаграммы не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "204": {
            "description": "Запрос успешно обработан. Список возможных переменных к автомаппингу пуст",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешный автомаппинг узла диаграммы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Properties"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "Ошибка, возникающий при конфликте автомаппинга",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeAutoMappingResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/diagrams/links/move": {
      "put": {
        "tags": [
          "Node",
          "diagrams"
        ],
        "description": "Изменение таргета ребра диаграммы",
        "operationId": "moveLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkMoveDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка, возникающая при неверной авторазиции",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Ошибка, возникающая при отсутствии доступа к вызываемому API",
            "content": {
              "application/json": {}
            }
          },
          "201": {
            "description": "Успешное создание ребра диаграммы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/diagram/batch/updateSql": {
      "put": {
        "tags": [
          "diagram",
          "Diagram"
        ],
        "description": "Обновление sql запроса батча",
        "operationId": "saveBatchSql",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSqlGetDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Успешное обновление",
            "content": {
[...]
